alias down='cd ~/Downloads'
alias doc='cd ~/Documents'
alias ..='cd ..'
alias yep='sudo apt install '
alias nop='sudo apt remove '
alias whatsup='service --status-all'
alias ports='nmap localhost'
alias bye='shutdown -P'
alias c='clear'
alias h='history'
alias hg='history | grep '
alias ld='ls -d */'
alias j='jobs -l'
alias root='sudo -i'
alias su='sudo -i'
alias tools='cd /home/rabbit/Documents/mytools'
alias labs='cd ~/Documents/mylabs'
alias scripts='cd ~/Documents/myscripts'
alias licensekey='java -jar ~/Documents/mytools/Burp-Suite/keygen.jar'
alias nessus-start='sudo /bin/systemctl start nessusd.service'
alias nessus-stop='sudo /bin/systemctl stop nessusd.service'
